<!-- To add more icons, duplicate a section and find yout icon here -> https://fontawesome.com/v6.0/icons -->

<div class="social-links">
   {% if site.trade %}
        <a class="link" data-title="steamcommunity.com/{{ site.trade }}" href="https://steamcommunity.com/{{ site.trade }}" target="_blank"  rel="noopener" alt="anchor link for social media github" aria-label="anchor link for social media github">
            <i class="fa-solid fa-dollar-sign"></i>
        </a>
    {% endif %}

<div class="social-links">
    {% if site.f1 %}
        <a class="link" data-title="muf1k.github.io/{{ site.f1 }}" href="https://muf1k.github.io/{{ site.f1 }}" target="_blank" rel="noopener" alt="anchor link for social media steam" aria-label="anchor link for social media steam">
            <i class="fa-solid fa-car"></i>
        </a>
    {% endif %}

<div class="social-links">
    {% if site.steam %}
        <a class="link" data-title="steamcommunity.com/{{ site.steam }}" href="https://steamcommunity.com/{{ site.steam }}" target="_blank" rel="noopener" alt="anchor link for social media steam" aria-label="anchor link for social media steam">
            <i class="fa-brands fa-steam"></i>
        </a>
    {% endif %}

<div class="social-links">
    {% if site.youtube %}
        <a class="link" data-title="youtube.com/{{ site.youtube }}" href="https://youtube.com/{{ site.youtube }}" target="_blank" rel="noopener" alt="anchor link for social media youtube" aria-label="anchor link for social media youtube">
            <i class="fa-brands fa-youtube"></i>
        </a>
    {% endif %}

<div class="social-links">
    {% if site.soundcloud %}
        <a class="link" data-title="soundcloud.com/{{ site.soundcloud }}" href="https://soundcloud.com/{{ site.soundcloud }}" target="_blank" rel="noopener" alt="anchor link for social media soundcloud" aria-label="anchor link for social media soundcloud">
            <i class="fa-brands fa-soundcloud"></i>
        </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener" alt="anchor link for social media twitter" aria-label="anchor link for social media twitter">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram }}" href="https://instagram.com/{{ site.instagram }}" target="_blank"  rel="noopener" alt="anchor link for social media instagram" aria-label="anchor link for social media instagram">
            <i class="fa-brands fa-instagram"></i>
        </a>
    {% endif %}

    {% if site.discord %}
        <a class="link" data-title="discord.com/in/{{ site.discord }}" href="https://www.discord.gg/in/{{ site.discord }}" target="_blank"  rel="noopener" alt="anchor link for social media discord" aria-label="anchor link for social media discord">
            <i class="fa-brands fa-discord"></i>
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank"  rel="noopener" alt="anchor link for social media github" aria-label="anchor link for social media github">
            <i class="fa-brands fa-github"></i>
        </a>
    {% endif %}
</div>
